h1,
h2,
h3,
button {
  font-family: "Big Shoulders Display", sans-serif;
}
h4,
h5,
h5,
p,
span {
  font-family: "Jost", sans-serif;
}
/* * {
  margin: 0;
} */
.no-padding {
  padding: 0;
}
.main-container {
  padding-bottom: 80px;
}
.btn-outline {
  color: white;
  border: 1px solid rgb(255, 102, 0);
  font-size: 16px;
  cursor: pointer;
  border-radius: 500px;
  text-transform: uppercase;
  width: 170px;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 700;
  background: #0c0906;
  background-clip: padding-box;
}
