<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 d-flex gap-3 pt-3 ps-5">
        <img class="logo" src="../../images/logo.png" alt="" />
        <div
          class="users d-flex justify-content-center align-items-center rounded-circle ms-2"
        >
          <i class="fa-solid fa-bars-staggered"></i>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-end pt-3 pe-5">
        <button class="btn-subscribe">
          <i class="fa-regular fa-chess-queen pe-2"></i> Subscribe Now
        </button>
        <div
          class="users d-flex justify-content-center align-items-center rounded-circle ms-3"
        >
          <i class="fa-solid fa-user"></i>
        </div>
      </div>
    </div>
  </div>
</section>
