.bg-hero {
  background: url(../../images/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  margin-top: -80px;
}
.hero-col {
  margin-top: 90px;
}
.hero-img {
  width: 567px;
}
.hero-title h1 {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 150px;
  font-weight: 900;
  color: white;
}
