<hero class="">
  <div class="container-fluid bg-hero">
    <div class="row px-5">
      <div class="col-md-1 no-padding hero-col bg-primary">aijiiFg</div>
      <div class="col-md-4 no-padding hero-col">
        <img class="hero-img" src="../../images/heroImg.png" alt="" />
      </div>
      <div class="col-md-5 hero-title no-padding hero-col bg-primary">
        <h1>The Lord of The Rings</h1>
      </div>
      <div class="col-md-2 no-padding hero-col bg-danger">aijiiFg</div>
    </div>
  </div></hero
>
