<hero class="">
  <div class="container-fluid bg-hero">
    <div class="row px-5">
      <div class="col-md-1 no-padding hero-col d-flex align-items-center">
        <div>
          <img class="mt-5" src="../../images/icons.png" alt="" />
          <div class="left-content">
            <h1>01<span>/05</span></h1>
          </div>
          <p class="scroll-down">Scroll down</p>
          <img
            class="scroll-down-arrow"
            src="../../images/downarrow.png"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-4 no-padding hero-col">
        <img class="hero-img" src="../../images/heroImg.png" alt="" />
      </div>
      <div class="col-md-5 hero-title no-padding hero-col">
        <div class="text-uppercase">
          <h1>The Lord</h1>
          <h1 class="rings">of The Rings</h1>
        </div>
        <div class="d-flex gap-2">
          <!--  -->
          <div class="btn-media p-2 d-flex justify-content-center">
            <span><i class="fa-solid fa-star"></i> 4.9 Reviews</span>
          </div>
          <!--  -->
          <div class="btn-media p-2 d-flex justify-content-center">
            <span><i class="fa-solid fa-clock"></i> 02h 30m</span>
          </div>
          <!--  -->
          <div class="btn-media p-2 d-flex justify-content-center">
            <span
              ><span class="four-k"><i class="fa-solid fa-4"></i>k</span> 4k
              Quality</span
            >
          </div>
        </div>
        <p class="media-paragraph">
          The Lord of the Rings is a trilogy of epic fantasy adventure films
          directed.
        </p>
        <div class="d-flex gap-3 mt-4">
          <button class="btn-subscribe">
            <i class="fa-solid fa-play pe-2"></i> Play Trailer
          </button>
          <button class="btn-outline">
            <i class="fa-solid fa-list-check pe-2"></i> Add to list
          </button>
        </div>
      </div>
      <div class="col-md-2 no-padding hero-col">
        <div class="d-flex justify-content-end mt-4">
          <div class="icons-content d-flex justify-content-center py-3">
            <div>
              <!-- one -->
              <div class="icon-after">
                <div
                  class="icons d-flex justify-content-center align-items-center rounded-circle"
                >
                  <i class="fa-solid fa-house"></i>
                </div>
                <div
                  class="icons-hover d-flex justify-content-between justify-content-center align-items-center"
                >
                  <span class="hover-text">Add to playlist</span
                  ><i class="fa-solid fa-house"></i>
                </div>
              </div>
              <!-- two -->
              <div class="icon-after mt-3">
                <div
                  class="icons d-flex justify-content-center align-items-center rounded-circle"
                >
                  <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div
                  class="icons-hover d-flex justify-content-between justify-content-center align-items-center"
                >
                  <span class="hover-text">Add to playlist</span>
                  <i class="fa-solid fa-magnifying-glass"></i>
                </div>
              </div>
              <!-- three -->
              <div class="icon-after mt-3">
                <div
                  class="icons d-flex justify-content-center align-items-center rounded-circle"
                >
                  <i class="fa-solid fa-video"></i>
                </div>
                <div
                  class="icons-hover d-flex justify-content-between justify-content-center align-items-center"
                >
                  <span class="hover-text">Add to playlist</span
                  ><i class="fa-solid fa-video"></i>
                </div>
              </div>
              <!-- four -->
              <div class="icon-after mt-3">
                <div
                  class="icons d-flex justify-content-center align-items-center rounded-circle"
                >
                  <i class="fa-solid fa-play"></i>
                </div>
                <div
                  class="icons-hover d-flex justify-content-between justify-content-center align-items-center"
                >
                  <span class="hover-text">Add to playlist</span
                  ><i class="fa-solid fa-play"></i>
                </div>
              </div>
              <!-- five -->
              <div class="icon-after mt-3">
                <div
                  class="icons d-flex justify-content-center align-items-center rounded-circle"
                >
                  <i class="fa-solid fa-desktop"></i>
                </div>
                <div
                  class="icons-hover d-flex justify-content-between justify-content-center align-items-center"
                >
                  <span class="hover-text">Add to playlist</span
                  ><i class="fa-solid fa-desktop"></i>
                </div>
              </div>
              <!-- six -->
              <div class="icon-after mt-3">
                <div
                  class="icons d-flex justify-content-center align-items-center rounded-circle"
                >
                  <i class="fa-solid fa-gamepad"></i>
                </div>
                <div
                  class="icons-hover d-flex justify-content-between justify-content-center align-items-center"
                >
                  <span class="hover-text">Add to playlist</span
                  ><i class="fa-solid fa-gamepad"></i>
                </div>
              </div>
              <!-- seven -->
              <div class="icon-after mt-3">
                <div
                  class="icons d-flex justify-content-center align-items-center rounded-circle"
                >
                  <i class="fa-solid fa-football"></i>
                </div>
                <div
                  class="icons-hover d-flex justify-content-between justify-content-center align-items-center"
                >
                  <span class="hover-text">Add to playlists</span
                  ><i class="fa-solid fa-football"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div></div
></hero>
