<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="new-release d-flex justify-content-between">
        <h1>Newest releases</h1>
        <div>
          <img id="nextBtn" src="../../images/newReleaseImg/Left.png" alt="" />
          <img id="backBtn" src="../../images/newReleaseImg/Right.png" alt="" />
        </div>
      </div>
      <div class="new-release-slider d-flex gap-4 justify-content-center mt-2">
        <div>
          <img src="../../images/newReleaseImg/newRelease01.png" alt="" />
        </div>
        <div>
          <img src="../../images/newReleaseImg/newRelease02.png" alt="" />
        </div>
        <!--  -->
        <div class="new-release-card">
          <img src="../../images/newReleaseImg/newRelease03.png" alt="" />
          <div class="new-release-content">
            <h3>Samelill sronle</h3>
            <div class="media-details d-flex">
              <!--  -->
              <div class="btn-media-card p-2 d-flex justify-content-center">
                <span><i class="fa-solid fa-star"></i> 4.9</span>
              </div>
              <!--  -->
              <div class="btn-media-card p-2 d-flex justify-content-center">
                <span><i class="fa-solid fa-clock"></i> 02h 30m</span>
              </div>
              <!--  -->
              <div class="btn-media-card p-2 d-flex justify-content-center">
                <span><i class="fa-solid fa-star"></i> 4k Quality</span>
              </div>
            </div>
            <p class="">Action, Comedy</p>
          </div>
        </div>
        <!--  -->
        <div>
          <img src="../../images/newReleaseImg/newRelease04.png" alt="" />
        </div>
        <div>
          <img src="../../images/newReleaseImg/newRelease05.png" alt="" />
        </div>
        <div>
          <img src="../../images/newReleaseImg/newRelease06.png" alt="" />
        </div>
        <!-- <div>
          <img src="../../images/newReleaseImg/newRelease05.png" alt="" />
        </div>
        <div>
          <img src="../../images/newReleaseImg/newRelease03.png" alt="" />
        </div>
        <div>
          <img src="../../images/newReleaseImg/newRelease01.png" alt="" />
        </div>
        <div>
          <img src="../../images/newReleaseImg/newRelease02.png" alt="" />
        </div> -->
      </div>
    </div>
  </div>
</div>
