<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="new-release d-flex justify-content-between">
        <h1 class="new-release-title">
          Newest releases
          <img src="../../images/newReleaseImg/releaseIcon.png" alt="" />
        </h1>
        <div>
          <img id="backBtn" src="../../images/newReleaseImg/Left.png" alt="" />
          <img id="nextBtn" src="../../images/newReleaseImg/Right.png" alt="" />
        </div>
      </div>
      <div class="new-release-slider d-flex gap-4 justify-content-center mt-2">
        <!-- img one -->
        <div class="new-release-card">
          <img
            class=""
            src="../../images/newReleaseImg/newRelease01.png"
            alt=""
          />
          <!--  -->
          <div class="new-release-content">
            <div class="new-release-hover">
              <img
                class=""
                src="../../images/newReleaseImg/newRelease01.png"
                alt=""
              />
            </div>
            <div class="release-hidden-content">
              <div class="d-flex justify-content-between">
                <div></div>
                <div
                  class="btn-play d-flex justify-content-center align-items-center rounded-circle"
                >
                  <i class="fa-solid fa-play"></i>
                </div>
                <!--  -->
                <div class="d-flex justify-content-end">
                  <div class="mt-4">
                    <!--  -->
                    <div
                      class="release-icons d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-house"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-video"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-play"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="">
                <h3>The family monks</h3>
                <div class="media-details d-flex">
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-star"></i> 4.9</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-clock"></i> 02h 30m</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-star"></i> 4k Quality</span>
                  </div>
                </div>
                <p class="action">Action, Comedy</p>
              </div>
            </div>
          </div>
        </div>
        <!-- img tow -->
        <div class="new-release-card">
          <img
            class=""
            src="../../images/newReleaseImg/newRelease02.png"
            alt=""
          />
          <!--  -->
          <div class="new-release-content">
            <div class="new-release-hover">
              <img
                class=""
                src="../../images/newReleaseImg/newRelease02.png"
                alt=""
              />
            </div>
            <div class="release-hidden-content">
              <div class="d-flex justify-content-between">
                <div></div>
                <div
                  class="btn-play d-flex justify-content-center align-items-center rounded-circle"
                >
                  <i class="fa-solid fa-play"></i>
                </div>
                <!--  -->
                <div class="d-flex justify-content-end">
                  <div class="mt-4">
                    <!--  -->
                    <div
                      class="release-icons d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-house"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-video"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-play"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="">
                <h3>The family monks</h3>
                <div class="media-details d-flex">
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-star"></i> 4.9</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-clock"></i> 02h 30m</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span
                      ><span class="four-k"
                        ><i class="fa-solid fa-4"></i>k</span
                      >
                      4k Quality</span
                    >
                  </div>
                </div>
                <p class="action">Action, Comedy</p>
              </div>
            </div>
          </div>
        </div>
        <!-- img three -->
        <div class="new-release-card">
          <img
            class=""
            src="../../images/newReleaseImg/newRelease03.png"
            alt=""
          />
          <!--  -->
          <div class="new-release-content">
            <div class="new-release-hover">
              <img
                class=""
                src="../../images/newReleaseImg/newRelease03.png"
                alt=""
              />
            </div>
            <div class="release-hidden-content">
              <div class="d-flex justify-content-between">
                <div></div>
                <div
                  class="btn-play d-flex justify-content-center align-items-center rounded-circle"
                >
                  <i class="fa-solid fa-play"></i>
                </div>
                <!--  -->
                <div class="d-flex justify-content-end">
                  <div class="mt-4">
                    <!--  -->
                    <div
                      class="release-icons d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-house"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-video"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-play"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="">
                <h3>The family monks</h3>
                <div class="media-details d-flex">
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-star"></i> 4.9</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-clock"></i> 02h 30m</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span
                      ><span class="four-k"
                        ><i class="fa-solid fa-4"></i>k</span
                      >
                      4k Quality</span
                    >
                  </div>
                </div>
                <p class="action">Action, Comedy</p>
              </div>
            </div>
          </div>
        </div>
        <!-- img four -->
        <div class="new-release-card">
          <img
            class=""
            src="../../images/newReleaseImg/newRelease04.png"
            alt=""
          />
          <!--  -->
          <div class="new-release-content">
            <div class="new-release-hover">
              <img
                class=""
                src="../../images/newReleaseImg/newRelease04.png"
                alt=""
              />
            </div>
            <div class="release-hidden-content">
              <div class="d-flex justify-content-between">
                <div></div>
                <div
                  class="btn-play d-flex justify-content-center align-items-center rounded-circle"
                >
                  <i class="fa-solid fa-play"></i>
                </div>
                <!--  -->
                <div class="d-flex justify-content-end">
                  <div class="mt-4">
                    <!--  -->
                    <div
                      class="release-icons d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-house"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-video"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-play"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="">
                <h3>The family monks</h3>
                <div class="media-details d-flex">
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-star"></i> 4.9</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-clock"></i> 02h 30m</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span
                      ><span class="four-k"
                        ><i class="fa-solid fa-4"></i>k</span
                      >
                      4k Quality</span
                    >
                  </div>
                </div>
                <p class="action">Action, Comedy</p>
              </div>
            </div>
          </div>
        </div>
        <!-- img five -->
        <div class="new-release-card">
          <img
            class=""
            src="../../images/newReleaseImg/newRelease05.png"
            alt=""
          />
          <!--  -->
          <div class="new-release-content">
            <div class="new-release-hover">
              <img
                class=""
                src="../../images/newReleaseImg/newRelease05.png"
                alt=""
              />
            </div>
            <div class="release-hidden-content">
              <div class="d-flex justify-content-between">
                <div></div>
                <div
                  class="btn-play d-flex justify-content-center align-items-center rounded-circle"
                >
                  <i class="fa-solid fa-play"></i>
                </div>
                <!--  -->
                <div class="d-flex justify-content-end">
                  <div class="mt-4">
                    <!--  -->
                    <div
                      class="release-icons d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-house"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-video"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-play"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="">
                <h3>The family monks</h3>
                <div class="media-details d-flex">
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-star"></i> 4.9</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-clock"></i> 02h 30m</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span
                      ><span class="four-k"
                        ><i class="fa-solid fa-4"></i>k</span
                      >
                      4k Quality</span
                    >
                  </div>
                </div>
                <p class="action">Action, Comedy</p>
              </div>
            </div>
          </div>
        </div>
        <!-- img six -->
        <div class="new-release-card">
          <img
            class=""
            src="../../images/newReleaseImg/newRelease06.png"
            alt=""
          />
          <!--  -->
          <div class="new-release-content">
            <div class="new-release-hover">
              <img
                class=""
                src="../../images/newReleaseImg/newRelease06.png"
                alt=""
              />
            </div>
            <div class="release-hidden-content">
              <div class="d-flex justify-content-between">
                <div></div>
                <div
                  class="btn-play d-flex justify-content-center align-items-center rounded-circle"
                >
                  <i class="fa-solid fa-play"></i>
                </div>
                <!--  -->
                <div class="d-flex justify-content-end">
                  <div class="mt-4">
                    <!--  -->
                    <div
                      class="release-icons d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-house"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-video"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-play"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="">
                <h3>The family monks</h3>
                <div class="media-details d-flex">
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-star"></i> 4.9</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-clock"></i> 02h 30m</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span
                      ><span class="four-k"
                        ><i class="fa-solid fa-4"></i>k</span
                      >
                      4k Quality</span
                    >
                  </div>
                </div>
                <p class="action">Action, Comedy</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Extra image for slide -->
        <!-- img one -->
        <div class="new-release-card">
          <img
            class=""
            src="../../images/newReleaseImg/newRelease01.png"
            alt=""
          />
          <!--  -->
          <div class="new-release-content">
            <div class="new-release-hover">
              <img
                class=""
                src="../../images/newReleaseImg/newRelease01.png"
                alt=""
              />
            </div>
            <div class="release-hidden-content">
              <div class="d-flex justify-content-between">
                <div></div>
                <div
                  class="btn-play d-flex justify-content-center align-items-center rounded-circle"
                >
                  <i class="fa-solid fa-play"></i>
                </div>
                <!--  -->
                <div class="d-flex justify-content-end">
                  <div class="mt-4">
                    <!--  -->
                    <div
                      class="release-icons d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-house"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-video"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-play"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="">
                <h3>The family monks</h3>
                <div class="media-details d-flex">
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-star"></i> 4.9</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-clock"></i> 02h 30m</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span
                      ><span class="four-k"
                        ><i class="fa-solid fa-4"></i>k</span
                      >
                      4k Quality</span
                    >
                  </div>
                </div>
                <p class="action">Action, Comedy</p>
              </div>
            </div>
          </div>
        </div>
        <!-- img tow -->
        <div class="new-release-card">
          <img
            class=""
            src="../../images/newReleaseImg/newRelease02.png"
            alt=""
          />
          <!--  -->
          <div class="new-release-content">
            <div class="new-release-hover">
              <img
                class=""
                src="../../images/newReleaseImg/newRelease02.png"
                alt=""
              />
            </div>
            <div class="release-hidden-content">
              <div class="d-flex justify-content-between">
                <div></div>
                <div
                  class="btn-play d-flex justify-content-center align-items-center rounded-circle"
                >
                  <i class="fa-solid fa-play"></i>
                </div>
                <!--  -->
                <div class="d-flex justify-content-end">
                  <div class="mt-4">
                    <!--  -->
                    <div
                      class="release-icons d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-house"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-video"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-play"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="">
                <h3>The family monks</h3>
                <div class="media-details d-flex">
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-star"></i> 4.9</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-clock"></i> 02h 30m</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span
                      ><span class="four-k"
                        ><i class="fa-solid fa-4"></i>k</span
                      >
                      4k Quality</span
                    >
                  </div>
                </div>
                <p class="action">Action, Comedy</p>
              </div>
            </div>
          </div>
        </div>
        <!-- img three -->
        <div class="new-release-card">
          <img
            class=""
            src="../../images/newReleaseImg/newRelease03.png"
            alt=""
          />
          <!--  -->
          <div class="new-release-content">
            <div class="new-release-hover">
              <img
                class=""
                src="../../images/newReleaseImg/newRelease03.png"
                alt=""
              />
            </div>
            <div class="release-hidden-content">
              <div class="d-flex justify-content-between">
                <div></div>
                <div
                  class="btn-play d-flex justify-content-center align-items-center rounded-circle"
                >
                  <i class="fa-solid fa-play"></i>
                </div>
                <!--  -->
                <div class="d-flex justify-content-end">
                  <div class="mt-4">
                    <!--  -->
                    <div
                      class="release-icons d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-house"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-video"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-play"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="">
                <h3>The family monks</h3>
                <div class="media-details d-flex">
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-star"></i> 4.9</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-clock"></i> 02h 30m</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span
                      ><span class="four-k"
                        ><i class="fa-solid fa-4"></i>k</span
                      >
                      4k Quality</span
                    >
                  </div>
                </div>
                <p class="action">Action, Comedy</p>
              </div>
            </div>
          </div>
        </div>
        <!-- img four -->
        <div class="new-release-card">
          <img
            class=""
            src="../../images/newReleaseImg/newRelease04.png"
            alt=""
          />
          <!--  -->
          <div class="new-release-content">
            <div class="new-release-hover">
              <img
                class=""
                src="../../images/newReleaseImg/newRelease04.png"
                alt=""
              />
            </div>
            <div class="release-hidden-content">
              <div class="d-flex justify-content-between">
                <div></div>
                <div
                  class="btn-play d-flex justify-content-center align-items-center rounded-circle"
                >
                  <i class="fa-solid fa-play"></i>
                </div>
                <!--  -->
                <div class="d-flex justify-content-end">
                  <div class="mt-4">
                    <!--  -->
                    <div
                      class="release-icons d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-house"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-video"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-play"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="">
                <h3>The family monks</h3>
                <div class="media-details d-flex">
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-star"></i> 4.9</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-clock"></i> 02h 30m</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span
                      ><span class="four-k"
                        ><i class="fa-solid fa-4"></i>k</span
                      >
                      4k Quality</span
                    >
                  </div>
                </div>
                <p class="action">Action, Comedy</p>
              </div>
            </div>
          </div>
        </div>
        <!-- img five -->
        <div class="new-release-card">
          <img
            class=""
            src="../../images/newReleaseImg/newRelease05.png"
            alt=""
          />
          <!--  -->
          <div class="new-release-content">
            <div class="new-release-hover">
              <img
                class=""
                src="../../images/newReleaseImg/newRelease05.png"
                alt=""
              />
            </div>
            <div class="release-hidden-content">
              <div class="d-flex justify-content-between">
                <div></div>
                <div
                  class="btn-play d-flex justify-content-center align-items-center rounded-circle"
                >
                  <i class="fa-solid fa-play"></i>
                </div>
                <!--  -->
                <div class="d-flex justify-content-end">
                  <div class="mt-4">
                    <!--  -->
                    <div
                      class="release-icons d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-house"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-video"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-play"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="">
                <h3>The family monks</h3>
                <div class="media-details d-flex">
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-star"></i> 4.9</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-clock"></i> 02h 30m</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span
                      ><span class="four-k"
                        ><i class="fa-solid fa-4"></i>k</span
                      >
                      4k Quality</span
                    >
                  </div>
                </div>
                <p class="action">Action, Comedy</p>
              </div>
            </div>
          </div>
        </div>
        <!-- img six -->
        <div class="new-release-card">
          <img
            class=""
            src="../../images/newReleaseImg/newRelease06.png"
            alt=""
          />
          <!--  -->
          <div class="new-release-content">
            <div class="new-release-hover">
              <img
                class=""
                src="../../images/newReleaseImg/newRelease06.png"
                alt=""
              />
            </div>
            <div class="release-hidden-content">
              <div class="d-flex justify-content-between">
                <div></div>
                <div
                  class="btn-play d-flex justify-content-center align-items-center rounded-circle"
                >
                  <i class="fa-solid fa-play"></i>
                </div>
                <!--  -->
                <div class="d-flex justify-content-end">
                  <div class="mt-4">
                    <!--  -->
                    <div
                      class="release-icons d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-house"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-video"></i>
                    </div>
                    <!--  -->
                    <div
                      class="release-icons mt-2 d-flex justify-content-center align-items-center rounded-circle"
                    >
                      <i class="fa-solid fa-play"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="">
                <h3>The family monks</h3>
                <div class="media-details d-flex">
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-star"></i> 4.9</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span><i class="fa-solid fa-clock"></i> 02h 30m</span>
                  </div>
                  <!--  -->
                  <div class="btn-media-card p-1 d-flex justify-content-center">
                    <span
                      ><span class="four-k"
                        ><i class="fa-solid fa-4"></i>k</span
                      >
                      4k Quality</span
                    >
                  </div>
                </div>
                <p class="action">Action, Comedy</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Extra image for slide -->
      </div>
    </div>
  </div>
</div>
