<div class="container-fluid">
  <div class="row media-card-width ms-5 me-5">
    <!-- Card one -->
    <div class="col-md-12">
      <div class="d-flex gap-5 media-card-content">
        <div class="media-card">
          <img class="img-fluid" src="../../images/cardImg01.png" alt="" />
          <h3>Samelill sronle</h3>
          <div class="media-details d-flex justify-content-center">
            <!--  -->
            <div class="btn-media-card p-2 d-flex justify-content-center">
              <span><i class="fa-solid fa-star"></i> 4.9</span>
            </div>
            <!--  -->
            <div class="btn-media-card p-2 d-flex justify-content-center">
              <span><i class="fa-solid fa-clock"></i> 02h 30m</span>
            </div>
            <!--  -->
            <div class="btn-media-card p-2 d-flex justify-content-center">
              <span><i class="fa-solid fa-star"></i> 4k Quality</span>
            </div>
          </div>
          <p>Action, Comedy</p>
        </div>
        <!-- Card two -->
        <div class="media-card">
          <img class="img-fluid" src="../../images/cardImg02.png" alt="" />
          <h3>Samelill sronle</h3>
          <div class="media-details d-flex justify-content-center">
            <!--  -->
            <div class="btn-media-card p-2 d-flex justify-content-center">
              <span><i class="fa-solid fa-star"></i> 4.9</span>
            </div>
            <!--  -->
            <div class="btn-media-card p-2 d-flex justify-content-center">
              <span><i class="fa-solid fa-clock"></i> 02h 30m</span>
            </div>
            <!--  -->
            <div class="btn-media-card p-2 d-flex justify-content-center">
              <span><i class="fa-solid fa-star"></i> 4k Quality</span>
            </div>
          </div>
          <p>Action, Comedy</p>
        </div>
        <!-- Card three -->
        <div class="media-card">
          <img class="img-fluid" src="../../images/cardImg03.png" alt="" />
          <h3>Samelill sronle</h3>
          <div class="media-details d-flex justify-content-center">
            <!--  -->
            <div class="btn-media-card p-2 d-flex justify-content-center">
              <span><i class="fa-solid fa-star"></i> 4.9</span>
            </div>
            <!--  -->
            <div class="btn-media-card p-2 d-flex justify-content-center">
              <span><i class="fa-solid fa-clock"></i> 02h 30m</span>
            </div>
            <!--  -->
            <div class="btn-media-card p-2 d-flex justify-content-center">
              <span><i class="fa-solid fa-star"></i> 4k Quality</span>
            </div>
          </div>
          <p>Action, Comedy</p>
        </div>
        <!-- Card four -->
        <div class="media-card">
          <img class="img-fluid" src="../../images/cardImg04.png" alt="" />
          <h3>Samelill sronle</h3>
          <div class="media-details d-flex justify-content-center">
            <!--  -->
            <div class="btn-media-card p-2 d-flex justify-content-center">
              <span><i class="fa-solid fa-star"></i> 4.9</span>
            </div>
            <!--  -->
            <div class="btn-media-card p-2 d-flex justify-content-center">
              <span><i class="fa-solid fa-clock"></i> 02h 30m</span>
            </div>
            <!--  -->
            <div class="btn-media-card p-2 d-flex justify-content-center">
              <span><i class="fa-solid fa-star"></i> 4k Quality</span>
            </div>
          </div>
          <p>Action, Comedy</p>
        </div>
      </div>
    </div>
  </div>
</div>
